# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
public
static/*.css
static/*.js
static/*.js.*
**/search-index.json
build/timestamp.txt
*.log
npm-debug.log.*
.inputrc
assets/site-bundle.js*
cypress/screenshots
cypress/videos
.DS_Store
cypress/fixtures/example.json
.hugo_build.lock
