# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
public
static/*.css
static/*.js
static/*.js.*
**/search-index.json
build/timestamp.txt
*.log
npm-debug.log.*
.inputrc
assets/site-bundle.js*
resources
cypress/screenshots
cypress/videos