{{ partial "doctype.html" }}
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ $postStyles := resources.Get "styles/post-bundle.sass" | toCSS | minify | fingerprint "sha512" }}
        <link rel="stylesheet" type="text/css" href="{{ $postStyles.RelPermalink }}" integrity="{{ $postStyles.Data.Integrity }}" media="screen, tv, projection">
        <div id="page-wrapper">
            {{ partial "header.html" . }}
            <div class="body">
                <div class="body-max-width">
                    <main id="content">
                        <article>
                            <h1>{{ .Title }}</h1>
                            {{ partial "article-date.html" . }}
                            {{ .Content }}
                            {{ partial "article-categories-tags.html" . }}
                            {{ partial "disqus.html" . }}
                        </article>
                    </main>
                    <aside id="sidebar">
                        {{ partial "recent-articles-widget.html" . }}
                        {{ partial "tag-cloud.html" . }}
                        {{ partial "categories-widget.html" . }}
                    </aside>
                </div>
            </div>            
            {{ partial "footer.html" . }}
        </div>
        {{ partial "lightbox.html" . }}
        {{ partial "code-expanded.html" . }}
        {{ partial "searchbox.html" . }}
        {{- partial "add-js.html" . -}}
    </body>
</html>