{{ partial "doctype.html" }}
<html lang="sv">
{{ partial "head.html" . }}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Average+Sans" media="all">
<body class="guide">
    <main>    
        <section>
            <h1>Kortkommandon för Windows 7</h1>
            <h2>Fönsterhantering</h2>
            <ol>
                <li>
                    <div class="shortcut multiline">
                        <div class="shortcut">
                            <div class="key medium">
                                <div class="keycap">
                                    <span class="fa fa-windows"></span>
                                </div>
                            </div>
                        </div>
                        <div class="shortcut">
                            <div class="key">
                                <div class="keycap">
                                    E
                                </div>
                            </div>
                            <div class="key">
                                <div class="keycap">
                                    X
                                </div>
                            </div>
                            <div class="key">
                                <div class="keycap">
                                    C
                                </div>
                            </div>
                        </div>
                        <div class="shortcut">
                            <div class="key medium">
                                <div class="keycap">
                                    Enter
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Starta Microsoft <strong>Exc</strong>el genom att söka efter det. Funkar förstås för alla program och för att söka efter filer.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                E
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Öppna Utforskaren (<em>Windows <strong>E</strong>xplorer</em>)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                D
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Visa skrivbordet (<em><strong>D</strong>esktop</em>)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                L
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Lås datorn
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Alt
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Tab
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Växla program
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Tab
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Växla program i 3D-vy
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                <span class="fa fa-arrow-left"></span>
                            </div>
                        </div>
                        <div class="or">eller</div>
                        <div class="key">
                            <div class="keycap">
                                <span class="fa fa-arrow-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Lägg fönster på vänstra eller högra halvan av skärmen
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                <span class="fa fa-arrow-up"></span>
                            </div>
                        </div>
                        <div class="or">eller</div>
                        <div class="key">
                            <div class="keycap">
                                <span class="fa fa-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Maximera eller minimera fönster.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                <span class="fa fa-arrow-up"></span>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Maximera fönster på höjden
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                <span class="fa fa-windows"></span>
                            </div>
                        </div>
                        <div class="plus">+</div>                        
                        <div class="key">
                            <div class="keycap">
                                P
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Visa bild på extern skärm eller projektor.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               N
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Öppna nytt fönster (av aktuellt program)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>                        
                        <div class="key">
                            <div class="keycap">
                                F10
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Samma som högerklick
                    </div>
                </li>
            </ol>
            <h2>Redigera text och filer</h2>
            <ol>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                A
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Markera allt
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               C
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Kopiera
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               V
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Klistra in
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               X
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Klipp ut
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               Z
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Ångra senaste åtgärd
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               S
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Spara
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               F
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Fet stil för markerad text (i svenskspråkigt program)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               K
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Kursiv stil för markerad text (i svenskspråkigt program)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               U
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Understrykning av markerad text
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Esc
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Avbryt
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key">
                            <div class="keycap">
                                F2
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Byt namn på markerad fil
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Home
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till början av aktuell rad
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                End
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till slutet av aktuell rad
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Home
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till början av dokumentet
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                End
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till slutet av dokumentet
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Home
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Markera all text från markörens position till början av raden.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                End
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Markera all text från markörens position till slutet av raden.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Home
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Markera all text från markörens position till början av dokumentet.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                End
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Markera all text från markörens position till slutet av dokumentet.
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>                        
                        <div class="key">
                            <div class="keycap">
                                P
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Skriv ut
                    </div>
                </li>
            </ol>
        </section>
        <section>
            <h1>Kortkommandon för webbläsare 
                <span class="fa fa2x fa-chrome"></span> 
                <span class="fa fa2x fa-firefox"></span> 
                <span class="fa fa2x fa-internet-explorer"></span></h1>
            <p>Det här tycks funka i alla webbläsare, men det är ingen garanti. 
            </p>
            <h2>Generellt</h2>
            <ol>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>                        
                        <span class="fa fa-mouse-pointer click"></span>
                    </div>
                    <div class="explaination">
                        Öppna klickad länk i ny flik
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                            <div class="keycap">
                                F
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Sök på sidan
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key">
                            <div class="keycap">
                                F3
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till nästa träff i sökning
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               T
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Öppna ny flik
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               T
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Öppna senast stängda flik(ar)
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               W
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Stäng aktuell flik
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key">
                            <div class="keycap">
                                F11
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Helskärmsläge
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key">
                            <div class="keycap">
                                F5
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Ladda om sidan
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               F5
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Ladda om sidan utan cache, dvs. om sidan strular
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               L
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Ställ markören i adressraden
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               J
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Visa nerladdade filer
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               +
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Zooma in
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               -
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Zooma ut
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                               0
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Zooma till 100%
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div>
                            Mushjulet
                        </div>
                    </div>
                    <div class="explaination">
                        Zooma in eller ut. Funkar även i Word och vissa andra program.
                    </div>
                </li>
            </ol>
            <h2>Navigera</h2>
            <ol>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Home
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till början av sidan
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                End
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Gå till slutet av sidan
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                PgDn
                            </div>
                        </div>
                        <div class="or">eller</div>
                        <div class="key large">
                            <div class="keycap">
                                Mellanslag
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Bläddra en skärmhöjd nedåt
                    </div>
                </li>
                <li>
                    <div class="shortcut multiline">
                        <div class="shortcut">
                            <div class="key medium">
                                <div class="keycap">
                                    PgUp
                                </div>
                            </div>
                            <div class="or">eller</div>
                        </div>
                        <div class="shortcut">
                            <div class="key medium">
                                <div class="keycap">
                                    Shift
                                </div>
                            </div>
                            <div class="plus">+</div>
                            <div class="key large">
                                <div class="keycap">
                                    Mellanslag
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Bläddra en skärmhöjd uppåt
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Tab
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Växla till nästa flik
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Ctrl
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Shift
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key medium">
                            <div class="keycap">
                                Tab
                            </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Växla till föregående flik
                    </div>
                </li>
                <li>
                    <div class="shortcut">
                        <div class="key medium">
                            <div class="keycap">
                                Alt
                            </div>
                        </div>
                        <div class="plus">+</div>
                        <div class="key">
                           <div class="keycap">
                                <span class="fa fa-arrow-left"></span>
                           </div>
                        </div>
                        <div class="or">eller</div>
                        <div class="key">
                           <div class="keycap">
                                <span class="fa fa-arrow-right"></span>
                           </div>
                        </div>
                    </div>
                    <div class="explaination">
                        Föregående eller nästa sida. Bläddra bakåt eller framåt.
                    </div>
                </li>
            </ol>
        </section>
    </main>
</body>

</html>