@import './_theme-switcher';

code {
  word-wrap: break-word;
  font-family: 'Fira Code', SFMono-Regular, Menlo, Consolas, courier, monospace;
}

p,
li {
  code {
    padding: 0 4px;
    border-radius: $border-radius;
    background-color: var(--inline-code-bg-color);
    border: 1px solid var(--inline-code-border-color);
    white-space: pre-wrap;
    font-size: large;
    transition: background-color $theme-switcher-speed ease-in, border-color $theme-switcher-speed ease-in;
  }
}

pre {
  overflow: auto;
  padding: 1.1em;
  font-size: 1rem;
  background-color: var(--highlight-bg-color);
  color: var(--highlight-color);
  border-left: 4px solid var(--accent-color);
  border-radius: $border-radius;
  line-height: 1.55em;
  code {
    word-wrap: normal;
    text-shadow: none;
    color: unset;
    background-color: unset;
    border: unset;
    &::selection {
      background: var(--highlight-selection-color);
      text-shadow: none;
    }
  }
}
