@import ./highlight-general

code
  word-wrap: break-word
  font-family: 'Courier New', 'Courier', monospace

pre
  overflow: auto
  padding: 1.1em
  font-size: 1rem
  background-color: darken(#fff, 8%)
  color: $text-color
  border-left: 4px solid $light-blue
  border-radius: $border-radius
  code
    word-wrap: normal