*:not(pre)
    code
        word-wrap: break-word
        font-family: 'Courier New', 'Courier', monospace
        color: darken($orange, 10%)
        text-shadow: 0 0 1px transparentize($orange, 0.2)
        &::selection
            background: #000
            text-shadow: none

pre
    overflow: auto
    padding: 1.1em
    font-size: 1rem
    background-color: darken(#fff, 8%)
    color: $text-color
    border-left: 4px solid $light-blue
    border-radius: $border-radius
    code
        word-wrap: normal
        text-shadow: none
        color: unset