.chroma {
  /* Background */
  color: #f8f8f2;
  background-color: #272822;

  /* Error */
  .err {
    color: #f92672;
  }

  /* LineTableTD */
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  /* LineTable */
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    overflow: auto;
    display: block;
  }

  /* LineHighlight */
  .hl {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 204, 0.2);
  }

  /* LineNumbersTable */
  .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    display: block;
  }

  /* LineNumbers */
  .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
  }

  /* Keyword, KeywordConstant, KeywordDeclaration */
  .k,
  .kc,
  .kd {
    color: #66d9ef;
  }

  /* KeywordNamespace */
  .kn {
    color: #f92672;
  }

  /* KeywordPseudo, KeywordReserved, KeywordType */
  .kp,
  .kr,
  .kt {
    color: #66d9ef;
  }

  /* NameAttribute, NameClass */
  .na,
  .nc {
    color: #a6e22e;
  }

  /* NameConstant */
  .no {
    color: #66d9ef;
  }

  /* NameDecorator, NameException, NameFunction, NameOther */
  .nd,
  .ne,
  .nf,
  .nx {
    color: #a6e22e;
  }

  /* NameTag */
  .nt {
    color: #f92672;
  }

  /* Literal */
  .l {
    color: #ae81ff;
  }

  /* LiteralDate, LiteralString, LiteralStringAffix, LiteralStringBacktick, LiteralStringChar, */
  /* LiteralStringDelimiter, LiteralStringDoc, LiteralStringDouble */
  .ld,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2 {
    color: #e6db74;
  }

  /* LiteralStringEscape */
  .se {
    color: #ae81ff;
  }

  /* LiteralStringHeredoc, LiteralStringInterpol, LiteralStringOther, */
  /* LiteralStringRegex, LiteralStringSingle, LiteralStringSymbol */
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #e6db74;
  }

  /* LiteralNumber, LiteralNumberBin, LiteralNumberFloat, LiteralNumberHex, */
  /* LiteralNumberInteger, LiteralNumberIntegerLong, LiteralNumberOct */
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo {
    color: #ae81ff;
  }

  /* Operator, OperatorWord */
  .o,
  .ow {
    color: #f92672;
  }

  /* Comment, CommentHashbang, CommentMultiline, CommentSingle, */
  /* CommentSpecial, CommentPreproc, CommentPreprocFile */
  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf {
    color: yellow;
  }

  /* GenericDeleted */
  .gd {
    color: #f92672;
  }

  /* GenericEmph */
  .ge {
    font-style: italic;
  }

  /* GenericInserted */
  .gi {
    color: #a6e22e;
  }

  /* GenericStrong */
  .gs {
    font-weight: bold;
  }

  /* GenericSubheading */
  .gu {
    color: #75715e;
  }
}
