{{ partial "doctype.html" }}
<html lang="en">
{{ partial "head.html" . }}

<body>
    {{ $aboutStyles := resources.Get "styles/about-bundle.sass" | toCSS | minify | fingerprint "sha512" }}
    <link rel="stylesheet" type="text/css" href="{{ $aboutStyles.RelPermalink }}" integrity="{{ $aboutStyles.Data.Integrity }}" media="screen, tv, projection">
    <div id="page-wrapper">
        {{ partial "header.html" . }}
        <div class="body">
            <div class="body-max-width">
                <main id="content">
                    {{- .Content -}}
                    {{- partial "contact-info.html" -}}
                </main>
                <aside id="sidebar">
                    {{ partial "recent-articles-widget.html" . -}} {{- partial "tag-cloud.html" . -}} {{- partial "categories-widget.html" . -}}
                </aside>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </div>
    {{- partial "searchbox.html" . -}}
    {{- partial "add-js.html" . -}}
</body>

</html>