abbr[title] {
  position: relative;
  text-decoration: underline dotted;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);

  position: absolute;
  left: 0;
  top: 1.5rem;
  width: auto;

  background-color: var(--color);
  color: var(--background-color);
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 0.9em;
  padding: 3px 5px;
  z-index: 1;
}
