@keyframes fold-in {
  0% {
    opacity: 0;
    transform: translateX(-90deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    display: flex;
  }
}

@keyframes fold-out {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(30deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
