@media (-webkit-min-device-pixel-ratio: 2) {
  .bitmoji {
    width: 200px;
  }
}
@media (min-device-pixel-ratio: 2) {
  .bitmoji {
    width: 200px;
  }
}
@media (min-resolution: 192dpi) {
  .bitmoji {
    width: 200px;
  }
}
