blockquote {
  font-style: italic;
  font-family: Georgia, serif;
  color: var(--blockquote-color);
  line-height: 1.5em;
  margin: 0;
  display: flex;
  align-items: center;
  ::selection {
    color: var(--background-color);
  }
  .fa {
    font-style: italic;
    opacity: 0.5;
  }
  p {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  &::before,
  &:after {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 5em;
    opacity: 0.5;
  }
  &::before {
    content: open-quote;
    margin-right: 0.2em;
  }
  &::after {
    content: close-quote;
    margin-top: 0.5em;
  }
}
