main {
  font-size: clamp(1.05rem, calc(1.05rem + 0.15 * ((100vw - 20rem) / 60)), 1.2rem);
  line-height: 1.5em;
}

h1 {
  font-size: clamp(2rem, calc(2rem + 0.3 * ((100vw - 20rem) / 60)), 2.5rem);
  line-height: 1.3em;
}

h2 {
  font-size: clamp(1.7rem, calc(1.7rem + 0.35 * ((100vw - 20rem) / 60)), 2rem);
  line-height: 1.3em;
  margin-top: 1.3em;
}

h3 {
  font-size: clamp(1.4rem, calc(1.4rem + 0.3 * ((100vw - 20rem) / 60)), 1.7rem);
  line-height: 1.3em;
  margin-top: 1.3em;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.3em;
}

.widget-title {
  font-size: clamp(1.1rem, calc(1.2rem + 0.1 * ((100vw - 20rem) / 60)), 1.3rem);
}

.site-title,
.hamburger-trigger {
  font-size: clamp(1.2rem, calc(1.2rem + 0.1 * ((100vw - 20rem) / 60)), 1.5rem);
}

nav a {
  font-size: clamp(1.05rem, calc(1.05rem + 0.1 * ((100vw - 20rem) / 60)), 1.2rem);
}

html {
  text-size-adjust: 110%;
}
