@import './_colors';
$key-width: 50px;
$key-width-print: 40px;
$keycap-width-diff: 14px;
$medium-extra-width: 20px;
$large-extra-width: 100px;

.guide {
    main {
        width: 100%;
        padding-right: 0; }
    section {
        display: flex;
        flex-direction: column; }
    ol {
        display: block;
        max-width: 100vw;
        list-style: none;
        padding: 0; }
    li {
        display: flex;
        float: left;
        padding: 0.5em;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0 0 5px #eee; }
    .shortcut {
        display: flex;
        align-items: center;
        width: 15em;
        font-size: 1.3rem;
        &.multiline {
            flex-direction: column; } }
    .plus {
        display: flex;
        justify-content: center;
        width: 1.2em; }
    .or {
        margin-left: 0.5em;
        margin-right: 0.5em; }
    .click {
        padding-left: 0.2em; }
    .explaination {
        width: 15em;
        padding-top: 0.2em; }
    .key {
        font-family: 'Average Sans', sans-serif;
        color: $gray800;
        width: $key-width;
        @media print {
            width: $key-width-print; }
        height: $key-width;
        @media print {
            height: $key-width-print; }
        margin: 2px;
        border-width: 3px 7px 10px;
        border-style: solid;
        border-radius: 4px;
        background: #d3cfcc;
        border-color: #ece8e4 #dedad6 #c9c4c4;
        float: left;
        &.medium {
            width: $key-width + $medium-extra-width;
            @media print {
                width: $key-width-print + $medium-extra-width; }
            .keycap {
                width: $key-width - $keycap-width-diff + $medium-extra-width;
                @media print {
                    width: $key-width-print + $medium-extra-width; } } }
        &.large {
            width: $key-width + $large-extra-width;
            @media print {
                width: $key-width-print + $large-extra-width; }
            .keycap {
                width: $key-width - $keycap-width-diff + $large-extra-width;
                @media print {
                    width: $key-width-print + $large-extra-width; } } }
        .keycap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $key-width - $keycap-width-diff;
            @media print {
                width: $key-width-print; }
            height: 37px;
            @media print {
                height: $key-width-print; }
            font-size: 22px;
            line-height: 1;
            background: #f5f3f1;
            background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
            background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
            background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
            background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
            background: linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            border-radius: 4px;
            position: relative;

            svg {
                font-size: 28px; } } } }

