$bar-width: 27px;
$bar-height: 4px;
$bar-spacing: $bar-height * 2;
$animation-speed: 150ms;

.hamburger-menu {
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  cursor: pointer;
  margin-left: $default-spacing - 5px;
}

.bar,
.bar::after,
.bar::before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: var(--white);

  &.animate {
    background: transparent;
  }
}

.hamburger-trigger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: $default-spacing;
  outline: none;
  border-bottom: transparent solid 1px;
  transition: border 400ms ease;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  &:hover,
  &:active,
  &:focus {
    background: none;
  }
  &:focus {
    color: var(--white);
  }
}

.bar::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: var(--white);
  transition: bottom $animation-speed $animation-speed cubic-bezier(0.23, 1, 0.32, 1),
    transform $animation-speed cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: var(--white);
  transition: top $animation-speed $animation-speed cubic-bezier(0.23, 1, 0.32, 1),
    transform $animation-speed cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate {
  visibility: hidden;
}

.bar.animate:after {
  visibility: visible;
  top: 0;
  transform: rotate(45deg);
  transition: top $animation-speed cubic-bezier(0.23, 1, 0.32, 1),
    transform $animation-speed $animation-speed cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  visibility: visible;
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom $animation-speed cubic-bezier(0.23, 1, 0.32, 1),
    transform $animation-speed $animation-speed cubic-bezier(0.23, 1, 0.32, 1);
}
