dialog {
  border: none;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;

  &::backdrop {
    background: var(--modal-bg-color-for-blur);
    backdrop-filter: blur(10px);
  }
}

.modal-close-button {
  display: none;
  position: absolute;
  align-items: center;
  color: white;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 1;
  .icon {
    font-size: 2rem;
  }
}

dialog[open] .modal-close-button {
  display: flex;
}
