.tag-cloud-tags {
    display: block;
    margin: 0;
    list-style-type: none;
    a {
        display: inline-block;
        padding: 0.3rem;
        line-height: 1em;
        word-break: break-word;
        white-space: normal; }
    a:nth-child(5n+1) {
        transform: rotate(-2deg); }
    a:nth-child(3n+3) {
        transform: rotate(1deg); }
    a:nth-child(3n+4) {
        transform: rotate(-3deg); }
    a:nth-child(5n+5) {
        transform: rotate(3deg); } }


