@import "./_colors.sass";

:root {
  --color: rgb(5, 5, 5);
  --color-published: #{$gray400};
  --background-color: rgb(250, 250, 250);
  --link-color: rgb(0, 0, 238);
  --main-headline-color: rgb(0, 0, 192);
  --accent-background-color: rgb(0, 0, 238);
  --accent-color: rgb(250, 250, 250);
}
