// Import Modules

@import "./_variables";
@import "./_colors";
@import "./_screen-reader";
@import "./_modal";
@import "./_headings";
@import "./_font-sizes";
@import "./_icons";
@import "./_header";
@import "./_footer";
@import "./_article-categories-tags";
@import "./_searchbox";
@import "./_hamburger-icon";
@import "./_animations";
@import "./_sidebar";
@import "./_bitmoji";
@import "./_paging-controls";
@import "./_blockquote";
@import "./_links";
@import "./_theme-switcher";
@import "./_notch-mixin";

:root {
  color-scheme: light dark;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  min-width: 300px;
  margin: 0;
  font-size: 16px;
  font-family: $font-family-sans-serif;
}

* {
  transition: background-color $theme-switcher-speed ease-in, border-color $theme-switcher-speed ease-in;
}
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-color);
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.body {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding-bottom: $default-spacing;
  padding-top: $default-spacing;
  @include notch-padding;
}

.body-max-width {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: $page-max-width;
  @media (min-width: $side-column-min-width) {
    flex-direction: row;
  }
}

main {
  width: 100%;
  padding: $default-spacing;
  @media (min-width: $side-column-min-width) {
    width: 71%;
  }
}

article {
  width: 100%;
  footer {
    display: flex;
  }
  &.full-article .entry-meta {
    margin-bottom: 2em;
  }
}

aside {
  width: 100%;
  padding: $default-spacing;
  @media (min-width: $side-column-min-width) {
    width: 29%;
  }
}

.entry-meta {
  margin-top: -1em;
}

.result-list .entry-meta {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.published {
  color: var(--color-published);
  
  .icon {
    transform: translateY(2px);
    margin-right: 0.4em;
  }


}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--scrollbar-bg-color);
  border-radius: $border-radius;

}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: $border-radius;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
  scrollbar-width: thin;
}


