@import ./variables
@import ./font-awesome/font-awesome
@import ./screen-reader
@import ./code/code-print
@import ./bitmoji
@import ./article-categories-tags
@import ./bullets
@import ./blockquote
@import ./links
@import ./contact-info

body
    font-size: 11pt

h1
    font-size: 1.3em
    font-family: $font-family-sans-serif

h2
    font-size: 1.2em
    font-family: $font-family-sans-serif

h3
    font-size: 1.1em
    font-family: $font-family-sans-serif

h4
    font-size: 1em
    font-family: $font-family-sans-serif
    font-weight: bold

#page-footer
    display: none

#sidebar
    display: none

#searchbox-container, #searchbox-overlay
    display: none

.header-content
    display: none

.code-expanded-controls
    display: none
