<div id="code-container" :class="{'open': code.isExpanding, 'close': !code.isExpanding}" >
    <label class="modal-close-button">
        <svg class="icon icon-circle-with-cross"><use xlink:href="#icon-circle-with-cross"></use></svg>
        (ESC)
    </label>
    <div id="code-container-inner" class="close" :class="{'open': code.isExpanding, 'close': !code.isExpanding}">
        <div class="box-shadow-container" @click.away="code.close()">
            <div id="code-placeholder"></div>
        </div>
    </div>
</div>