<div class="contact-info">
	<h3>Contact Info</h3>
	<ul>
        <li>
            <a href="mailto:henrik@sommerfeld.nu">
                <i class="fas fa-envelope fa-2x"></i><span id="email-displayed">henrik@sommerfeld.nu</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/henrikpalm">
                <div><i class="fab fa-linkedin fa-2x"></i> <span>LinkedIn</span></div>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/p4lm">
                <div><i class="fab fa-twitter fa-2x"></i> <span>Twitter</span></div>
            </a>
        </li>
        <li>
            <a href="https://github.com/henriksommerfeld">
                <div><i class="fab fa-github fa-2x"></i> <span>GitHub</span></div>
            </a>
        </li>
        <li>
            <a href="https://dev.to/p4lm">
                <div><i class="fab fa-dev fa-2x"></i> <span>DEV</span></div>
            </a>
        </li>
    </ul>

	<script src="https://www.google.com/recaptcha/api.js?render=explicit" async="" defer=""></script>
</div>