

<div id="comments-button-container" class="comments-button-container">
    <button type="button" onclick="loadDisqus()" class="comments-button"><svg class="icon icon-bubble"><use xlink:href="#icon-bubble"></use></svg> <span>Show Comments</span></button>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
function loadDisqus() {
    document.getElementById('comments-button-container').style.display = 'none';
    
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Site.Config.Services.Disqus.Shortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);    
}
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>