<header>
    <div class="header-content">
        <div class="site-title">Henrik Sommerfeld</div>
        {{- partial "theme-switcher.html" -}}
        <a href="#content" id="skip-link" class="sr-only skip-link">Skip to content</a>
        <a href="javascript:void('Hamburger menu show/hide')" class="hamburger-trigger">Menu
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </a>
        <nav>
            <a href="/" class="home"><i aria-hidden="true" class="fas fa-home"> </i>Home</a>
            <a href="/about/" class="about"><i aria-hidden="true" class="fas fa-user"> </i>About</a>
            <a href="/search-requires-javascript/" rel="nofollow" class="search"><i aria-hidden="true" class="fas fa-search"></i>Search</a>
        </nav>
    </div>
</header>