<script>
    window.updateTheme = (theme) => {
        if (!theme === 'light' || !theme === 'dark')
            return;

        const darkStyles = document.querySelectorAll("link[data-theme=dark]");
        const lightStyles = document.querySelectorAll("link[data-theme=light]");

        if (theme === 'dark') {
            console.info('🌙 Setting dark mode');
            darkStyles.forEach(link => {
                link.media = 'all';
                link.disabled = false;
            });
            lightStyles.forEach(link => {
                link.media = 'not all';
                link.disabled = true;
            });
        }
        else {
            console.info('🌞 Setting light mode');

            darkStyles.forEach(link => {
                link.media = 'not all';
                link.disabled = true;
            });
            lightStyles.forEach(link => {
                link.media = 'all';
                link.disabled = false;
            });
        }
    }

    const savedTheme = window.localStorage.getItem('theme');
    if (savedTheme !== 'light' || savedTheme !== 'dark') {
        const darkModePreferredQuery = window.matchMedia('(prefers-color-scheme: dark)');
        const theme = darkModePreferredQuery.matches ? 'dark' : 'light';
        window.localStorage.setItem('theme', theme);
    }
</script>