<script>
    window.updateTheme = (theme)=> {        
        if (theme === 'light' || theme === 'dark') {
            const darkStyles = document.querySelectorAll("link[data-theme=dark]");
            const lightStyles = document.querySelectorAll("link[data-theme=light]");

            if (theme === 'dark') {
                console.log('🌙 applying dark theme');
                lightStyles.forEach(link => {
                    link.media = 'not all';
                    link.disabled = true;
                });
                darkStyles.forEach(link => {
                    link.media = 'all';
                    link.disabled = false;
                });
            }
            else {
                console.log('🌞 applying light theme');
                darkStyles.forEach(link => {
                    link.media = 'not all';
                    link.disabled = true;
                });
                lightStyles.forEach(link => {
                    link.media = 'all';
                    link.disabled = false;
                });
            }
        }
        else {
            console.log('🌗 applying auto theme');
            const autoDarkMedia = '(prefers-color-scheme: dark)';
            const autoLightMedia = '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)';

            const darkStyles = document.querySelectorAll("link[data-theme=dark]");
            const lightStyles = document.querySelectorAll("link[data-theme=light]");

            darkStyles.forEach(link => {
                link.media = autoDarkMedia;
                link.disabled = false;
            });
            lightStyles.forEach(link => {
                link.media = autoLightMedia;
                link.disabled = false;
            });
        }
    }
    window.addEventListener('storage', event => {
        const theme = window.localStorage.getItem('theme') || 'auto';
        window.updateTheme(theme);
        document.getElementById(`theme-${theme}`).checked = true;
    });
    console.log('%c 🌞 🌗 🌙 Light/Dark switcher active', 'font-size:1.5em');
</script>