{{ partial "doctype.html" }}
<html>
    {{ partial "head.html" . }}
    <body>
        <div id="page-wrapper">
            {{ partial "header.html" . }}
            <div class="body">
                <div class="body-max-width">
                    <main id="content">
                        <h1>Page Not Found (404)</h1>
                        <img class="bitmoji" src="/images/oops.png" alt="oops">
                        <p>Don't know how you ended up here, but the page doesn't exist. Or well, <em>this</em> page 
                        exists, but it's a <em>page not found</em> page...you get the point.</p>
                    </main>
                    <aside id="sidebar">
                        {{ partial "recent-articles-widget.html" . }}
                        {{ partial "tag-cloud.html" . }}
                        {{ partial "categories-widget.html" . }}
                    </aside>
                </div>
            </div>            
            {{ partial "footer.html" . }}
        </div>
        {{ partial "searchbox.html" . }}
        <script src="/site.js?{{ now.Unix }}"></script>
    </body>
</html>