{{ partial "doctype.html" }}
<html lang="en">
    {{ partial "head.html" . }}
    {{ partial "body-start-tag.html" (dict "cssClassNames" "articles-with-category")}}
        <div id="page-wrapper">
            {{ partial "header.html" . }}
            <div class="body">
                <div class="body-max-width">
                    <main id="content" x-ref="content">
                            <h1><span class="taxonomy-heading">Category:</span> {{ .Title }}</h1>
                            {{- range .Paginator.Pages }}
                                <article class="summary">
                                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                                    {{ partial "article-date.html" . }}
                                    {{ partial "list-image.html" . }}
                                    <p>
                                        {{ partial "summary.html" . }}
                                        <a href="{{ .RelPermalink }}">Read more...</a>
                                    </p>
                                </article>
                            {{- end }}
                            {{ partial "paging-navigation.html" . }}
                    </main>
                    <aside id="sidebar">
                        {{ partial "recent-articles-widget.html" . }}
                        {{ partial "tag-cloud.html" . }}
                        {{ partial "categories-widget.html" . }}
                    </aside>
                </div>
            </div>            
            {{ partial "footer.html" . }}
        </div>
        {{ partial "searchbox.html" . }}
        {{- partial "add-js.html" . -}}
    </body>
</html>