@import "../_variables";

figure {
  margin: 0;
  padding-bottom: 1em;

  &.limit-width img {
    width: 40em;
  }

  &.limit-width-200 img {
    width: 200px;
  }

  & > a {
    max-width: 100%;
    display: inline-block;
    position: relative;

    &:hover, &:focus {
      background: none;

      img {
        position: relative;
      }

      &::after {
        animation: maximizer 200ms ease forwards;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 1rem;
      right: 1rem;
      background-color:transparent;
      background-image: url('/images/maximize.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90%;
    }
  }

  img {
    filter: var(--image-filter);
  }
}

@keyframes maximizer {
  0% {
    background-size: 90%;
  }
  100% {
    background-size: 100%;
  }
}

figcaption {
  padding-left: 0.3rem;
  margin-top: 0.3rem;
  color: var(--caption-color);

  p {
    font-style: italic;
    font-size: 1em;
    margin: 0;
  }

  h4 {
    margin: 0;
    font-style: normal;
    color: var(--color);
  }
}
