<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-windows" viewBox="0 0 32 32">
            <path d="M15.2 5.186v10.014h13.6v-12l-13.6 1.986zM3.2 15.2h10.4v-9.781l-10.4 1.518v8.262zM15.2 26.814l13.6 1.986v-12h-13.6v10.014zM3.2 25.062l10.4 1.518v-9.781h-10.4v8.262z"></path>
        </symbol>
    </defs>
</svg>{{.Inner}}<svg class="icon icon-windows"><use xlink:href="#icon-windows"></use></svg><span class="sr-only">Win</span>