{{ $svgRes := .Page.Resources.GetMatch (index .Params.image) }}
{{ $svgFile :=  (path.Join (path.Dir .Page.File.Path) $svgRes) }}
{{ $width := .Get "width" }}
{{ $use_theme := .Get "use-theme" }}
{{ $fill_path := .Get "fill-path" }}

<style>
  figure svg {
    width: 100%;
    height: auto;
  }
  figure.use-theme svg path {
    stroke: var(--color);
  }
  figure.use-theme.fill-path svg path {
    fill: var(--color) !important;
  }
  figure.use-theme svg text {
    fill: var(--color);
  }
  figure.use-theme svg rect {
    fill: transparent;
  }
</style>
<figure
  {{ if $width }}style="max-width: {{$width}}px"{{ end }}
  {{ if $use_theme }}class="use-theme{{ if $fill_path }} fill-path{{end}}"{{ end }}>

  {{- readFile $svgFile | safeHTML -}}
  {{.Inner}}
</figure>
