{{ $image := (.Page.Resources.GetMatch  (index .Params.image)) }}
{{ $alt := .Get "alt" }}
{{ $placeholder := $image.Resize "48x q20" }}
{{ $placeholder = $placeholder.Filter (images.GaussianBlur 4) }}
{{ $x_small := $image.Resize "500x" }}
{{ $small := $image.Resize "800x" }}
{{ $medium := $image.Resize "1200x" }}
{{ $large := $image.Resize "1500x" }}

{{$src_set := ""}}
{{ if ge $image.Width "500"}}
{{$src_set = (print $x_small.RelPermalink " 500w") }}
{{ end }}

{{ if ge $image.Width "800"}}
{{$src_set = (print $src_set ", " $small.RelPermalink " 800w") }}
{{ end }}

{{ if ge $image.Width "1200"}}
{{$src_set = (print $src_set ", " $medium.RelPermalink " 1200w") }}
{{ end }}

{{ if ge $image.Width "1500"}}
{{$src_set = (print $src_set ", " $large.RelPermalink " 1500w") }}
{{ end }}


<noscript>
  <style>
    figure.lazy {
      display: none;
    }
  </style>
  <figure class="image-border">
    <img src="{{ $large.RelPermalink }}" />
  </figure>
</noscript>

<figure class="image-border lazy">
  <img class="lazyload" data-sizes="auto" src="{{ $large.RelPermalink }}"
    srcset="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}" data-src="{{ $large.RelPermalink }}"
    data-srcset="{{ $src_set }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}" />
</figure>